@use "sass:list";
@use "sass:map";
@use "../utils/functions.scss" as *;


// app.config.ts
$layout: (
    "columns-count": get("grid.columns"),
    "columns-gap": get("grid.gap"),
    "margin": get("grid.margin"),
);

:root {
    --layout-columns-count: #{list.nth(map.get($layout, "columns-count"), 1)};
    --layout-columns-gap: #{list.nth(map.get($layout, "columns-gap"), 1)}px;
    --layout-margin: #{list.nth(map.get($layout, "margin"), 1)}px;
    --layout-width: calc(100vw - (2 * var(--layout-margin)));
    --layout-column-width: calc(
        (var(--layout-width) - ((var(--layout-columns-count) - 1) * var(--layout-columns-gap))) /
            var(--layout-columns-count)
    );

    @include desktop {
        --layout-columns-count: #{list.nth(map.get($layout, "columns-count"), 2)};
        --layout-columns-gap: #{list.nth(map.get($layout, "columns-gap"), 2)}px;
        --layout-margin: #{list.nth(map.get($layout, "margin"), 2)}px;
    }
}

.layout-block {
    max-width: var(--layout-width);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.layout-block-inner {
    padding-left: var(--layout-margin);
    padding-right: var(--layout-margin);
    width: 100%;
}

.layout-grid {
    @extend .layout-block;

    display: grid;
    grid-template-columns: repeat(var(--layout-columns-count), minmax(0, 1fr));
    grid-gap: var(--layout-columns-gap);
}

.layout-grid-inner {
    @extend .layout-block-inner;

    display: grid;
    grid-template-columns: repeat(var(--layout-columns-count), minmax(0, 1fr));
    grid-gap: var(--layout-columns-gap);
}
